<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.reidburke.air.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.5.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IntelEnhancedSpeedStep</key>
		<dict>
			<key>DebugMessages</key>
			<false/>
			<key>KernelFeatures</key>
			<integer>-1</integer>
			<key>TargetCPULoad</key>
			<integer>40</integer>
			<key>DefaultPState</key>
			<integer>-1</integer>
			<key>PStateTable</key>
			<array>
				<array>
					<integer>1600</integer>
					<integer>950</integer>
				</array>
				<array>
					<integer>1400</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>1200</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>800</integer>
					<integer>900</integer>
				</array>
			</array>
			<key>PStateTableDisabled</key>
			<array>
				<array>
					<integer>2128</integer>
					<integer>1000</integer>
				</array>
				<array>
					<integer>1862</integer>
					<integer>1000</integer>
				</array>
				<array>
					<integer>1596</integer>
					<integer>1000</integer>
				</array>
			</array>
			<key>CFBundleIdentifier</key>
			<string>com.reidburke.air.${PRODUCT_NAME:identifier}</string>
			<key>IOClass</key>
			<string>com_reidburke_air_${PRODUCT_NAME:identifier}</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>com_reidburke_air_${PRODUCT_NAME:identifier}</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.bsd</key>
		<string>7.9.9</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.4.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.4.1</string>
		<key>com.apple.kernel.mach</key>
		<string>7.9.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.4.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.4.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
